@font-face {
    font-family: NorseBold;
    src: url('../fonts/Norse-Bold.otf');
}
html {
    height: 100%;
    background-color: black;

}

body {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
    background-color: skyblue;
}

div.side-logo {
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

div.logo {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    top: 60px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
}

img.logo {
    height: 6rem;
}

.logo-text {
    font-family: 'NorseBold';
    font-size: 6rem;
    color: rgb(156, 156, 156);
    opacity: 1;
    margin: 0;
}

div.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: snow;
}

p.header-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: lighter;
    padding: 20px 40px;
}

main {
    background-color: white;
    box-shadow: 0px 2px 5px black ;
}

h3.form-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 10px 40px;
    margin: 0;
}