@font-face {
    font-family: NorseBold;
    src: url('../fonts/Norse-Bold.otf');
}
html {
    height: 100%;
    background-color: black;

}

body {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
    background-color: skyblue;
}

div.side-logo {
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

div.logo {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    top: 60px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
}

img.logo {
    height: 6rem;
}

.logo-text {
    font-family: 'NorseBold';
    font-size: 4rem;
    color: rgb(101, 101, 101);
    opacity: 1;
    margin: 0;
}

div.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: snow;
}

p.header-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: lighter;
}
header,
main,
footer {
    flex: 1;
    padding: 20px 40px;
}

header {
    padding-top: 50px;
}
main {
    background-color: white;
    box-shadow: 0px 2px 5px black ;
    display: flex;
    flex-direction: column;
}

h3.form-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 0px 0px 10px 0px;
    margin: 0;
}

div.form-row {
    display: flex;
    margin-bottom: 30px;
    gap: 50px;
}

form label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: small;
}

.input-cell {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border:thin #b8b9bd solid;
    border-radius: 5px;
}

input:focus {
    border: thin #6a97f2 solid;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
}

input:focus-visible {
    outline: none;
}